<ion-header translucent="true" no-border>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Face Recognition Tensorflow JS</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" #container class="boxes-container">
    <video
      #inputVideo
      (play)="onPlay(this)"
      id="inputVideo"
      autoplay
      muted
      (canplay)="inputVideo.play()"
      (loadedmetadata)="inputVideo.muted = true"
    ></video>
    <canvas #overlay id="overlay"></canvas>
  </div>

  <!-- <div id="container">
    <div id="navi">a</div>
    <div id="infoi">
      <img src="https://appharbor.com/assets/images/stackoverflow-logo.png" height="20" width="32" />b
    </div>
  </div> -->
</ion-content>
