#container {
  width: 100%;
  height: 100%;
  position: relative;
}
#inputVideo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
#overlay {
  z-index: 10;
}

// ion-content {
//   //position: relative;
//   height: 100vh;
//   width: 100%;
// }

// .boxes-container {
//   position: absolute;
//   height: calc(100vh - 44px - 50px);
//   width: 100%;
// }
